body{
    margin:0 ;
    padding: 0;
    overflow: hidden;
    
}

.login{
   
   
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(241, 110, 110), rgb(54, 163, 237));
}
    
.log{
    transform: rotate(-7deg);
    box-sizing: border-box;
width: 380px ;
height: 68vh;
background-color: white;
position: absolute;
left: 37%;
top: 18%;



}
.sig{
    /* transform: rotate(7deg); */
    /* z-index: -1; */
    box-sizing: border-box;
width: 380px ;
height: 68vh;
background-color: white;
position: relative;
left: 37%;
top: 18%;


}
.lo1{
    text-align: center;
    margin: 0;
    position: relative;
    top: 40px;
    text-decoration: underline red;
}
input[placeholder="Username"]{
    width: 250px;
    margin-top: 100px;
    padding: 8px;
    margin-left: 50px;
}
input[placeholder="Password"]{
    width: 250px;
    margin-top: 30px;
    padding: 8px;
    margin-left:50px;
}
input[placeholder="Confirm Password"]{
    width: 250px;
    margin-top: 30px;
    padding: 8px;
    margin-left:50px;

}
.for{
  
    position: relative;
    top: 30px;
    margin-left: 35px;
    text-decoration: none;

}


label[for="Showpassword"]{
    position: relative;
    top: 30px;
    margin-left: 48px;
   
}
input[value="Login"]{
    display: block;
    padding: 8PX;
    width: 270PX;
    margin-top: 68PX;
    margin-left: 50PX;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom right, rgb(149, 217, 238), rgb(186, 126, 186),rgb(235, 172, 172));
}
.if{
position: relative;
left: 60px;
top: 15px;

}
input[value="Signup"]{
    display: block;
    padding: 8PX;
    width: 270PX;
    margin-top: 45PX;
    margin-left: 50PX;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom right, rgb(149, 217, 238), rgb(186, 126, 186),rgb(235, 172, 172));
}
.if1{
    position: relative;
    left: 95px;
    top: 15px;
}
/* .login .log {
    transform: rotate(7deg);
    animation: Lvn 0.8s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes Lvn {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.login .log .Signup2{
    transform: rotate(7deg);
}

.login .log .Signup2 {
    animation: LVN1 .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes LVN1{
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}


.sig .sig1.Login2{
    transform: rotate(8deg);
}

.sig .sig1.Login2{
    animation: lvav s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes lvav {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.sig .sig1.login2{
    animation: animateSignUp 1.5s ease-in-out forwards;
}

@keyframes animateSignUp {
    0% {
        transform: translateX(0);
        z-index: 1;
    }

    50% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0) rotate(7deg);
    }
} */